@define-color mauve  #cba6f7;
@define-color red  #f38ba8;
@define-color lavender  #b4befe;
@define-color text  #cdd6f4;
@define-color base  #1e1e2e;

* {
  font-family: "CodeNewRoman", monospace;
  font-size: 15px;
}

window {
  margin: 0px;
  padding: 10px;
  border: 1px solid @lavender;
  border-radius: 2px;
  background-color: @base;
}

#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @base;
}

#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @base;
}

#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: @base;
}

#input {
  margin: 5px 20px;
  padding: 10px;
  border: none;
  border-radius: 0.1em;
  color: @text;
  background-color: @base;
}

#input image {
  border: none;
  color: @red;
}

#text {
  margin: 5px;
  border: none;
  color: @text;
}

#entry {
  background-color: @base;
}

#entry:selected {
  border: 1px solid @lavender;
  border-radius: 2px;
}

#entry:selected #text {
  color: @mauve;
}
